#### Installations

In [3]:
#!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp39-cp39-manylinux_2_28_x86_64.whl (40.8 MB)
     |████████████████████████████████| 40.8 MB 29.2 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0

#### Imports

In [7]:
import pandas as pd
import sklearn

In [6]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
444462,2,2024-01-06 10:37:40,2024-01-06 10:42:44,1.0,1.27,1.0,N,48,143,1,7.9,0.0,0.5,1.78,0.0,1.0,13.68,2.5,0.0
1644522,1,2024-01-19 16:55:02,2024-01-19 17:12:12,0.0,1.90,1.0,N,141,164,1,16.3,5.0,0.5,3.00,0.0,1.0,25.80,2.5,0.0
2592333,1,2024-01-29 16:28:05,2024-01-29 16:42:49,0.0,2.20,1.0,N,140,238,1,13.5,5.0,0.5,4.00,0.0,1.0,24.00,2.5,0.0
1915662,2,2024-01-22 16:03:18,2024-01-22 16:17:06,1.0,2.14,1.0,N,234,162,1,14.9,0.0,0.5,3.78,0.0,1.0,22.68,2.5,0.0
2001486,2,2024-01-23 15:03:05,2024-01-23 15:05:46,1.0,0.72,1.0,N,141,263,4,-5.1,0.0,-0.5,0.00,0.0,-1.0,-9.10,-2.5,0.0